
# /
/.autotools
/config.h
/config.log
/config.status
/core
/.cproject
/.deps
/.libs
/libtool
/Makefile
/*.o
/.project
/.settings
/*.so
/stamp-h1
/autom4te.cache
/taploop-*.tar.gz
/private
/autoscan.log
/configure.scan
/build.properties

# /src/
/src/.autotools
/src/config.h
/src/config.log
/src/config.status
/src/core
/src/.cproject
/src/.deps
/src/libtool
/src/Makefile
/src/*.o 
/src/.project
/src/.settings
/src/*.so
/src/stamp-h1
/src/taploop
/src/taploopd
